<div class="retro-only retro-foot">
  <div class="retro-links">
    🔊 <button id="midi-btn" type="button" class="retro-a">{{ t.retro.play_midi }}</button>
    &nbsp;·&nbsp; ✍️ <a class="retro-a" href="{{ '/contact/' | relative_url }}">{{ t.retro.guestbook }}</a>
    &nbsp;·&nbsp; 📧 <a class="retro-a" href="{{ '/contact/' | relative_url }}">{{ t.retro.email }}</a>
    &nbsp;·&nbsp; 💍 <span class="retro-a">{{ t.retro.webring }}</span>
  </div>
  <div class="retro-badges" aria-hidden="true">
    <span class="b88" style="background:#000;color:#fff">NETSCAPE<br>NOW!</span>
    <span class="b88" style="background:#fff;color:#00f">Made with<br>NOTEPAD</span>
    <span class="b88" style="background:#008080;color:#fff">Best viewed<br>800×600</span>
    <span class="b88" style="background:#c0c0c0;color:#000">VALID<br>HTML 3.2</span>
    <span class="b88" style="background:#fc0;color:#000">Y2K<br>READY</span>
  </div>
</div>
